 div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    display: block;
}

.c-header .c-menu .current_page_item a {
    color: #fff;
    background-color: #20201F;
}

.c-header .current_page_item a:hover {
    color: #fff;
    background-color: #20201F;
}

a.c-btn-skfosc-white:hover{
    background-color: #202020;
    color: #fff;
}

a.c-btn-sklight-white:hover{
    background-color: #202020;
    color: #fff;
}

.clear{
    clear:both;
}

.avatar {
    width: 50px !important;
    height: auto!important;    
    border-radius: 50%;
}

 .oculto {display: none;}
 .oculto:first-child{display: block;}

.find-post button {
    background: url("../img/find.png") no-repeat 50% 50% #fff;
    background-color: #eee;
    width: 12%;
    border:0;
    /*padding: 1.2em .5em;*/
    padding: 0.6em 0.6em;
}

div.wpcf7 img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin-left: 4px;
    width: auto;
}

.c-suscribe .wpcf7 {
    display: inline-block;
    margin-bottom: -15px;
}

.c-suscribe .form-group{
    margin-bottom: 15px;
    float: left;
}

.invierte-form{

}

.invierte-form .wpcf7 {
    color: #fff;
    background-color: #1a1b19;
    text-align: left;
    padding: 25px;
}

.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    /* border: 1px solid #eee;*/
    line-height: 1;
    text-decoration: none;
    /*border-radius: 2px;*/
    font-weight: 600;
    color:#202020;
}
.page-numbers.current,
a.page-numbers:hover {
    color: #fff;
    background-color: #0f9ec7;
}


a.next:hover{
    background-color: #FFF;
}

a.prev:hover{
    background-color: #FFF;
}

.c-share>div>a{
    color: #fff;
}
.slider .c-elastic .c-h2{
    color:#353535;
}
.slider .c-elastic .c-h3-4{
    color: #353535;
}
a.fb{
    background: url('../img/LOGO-FB.png');
    display: inline-block;
    padding: .5em 3.2em;
    width: auto;
    color: transparent !important;
}
a.fb:hover{
    background: url('../img/LOGO-FB-hover.png');
}
footer .c-fdatos{
    padding-right: 0px;
}
footer .container div.c-text-justify{
        padding-right: 1em;
}
/**/


@media (max-width: 580px){
	.slider .c-elastic .c-h3-4,  .slider .c-elastic .c-h2{
		color: #ffffff !important;
	}
	.slider-box .item .c-box-text{
		padding: 2em 0 !important;
	}
}