/*Slider*/
.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
/*Slick*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.c-proy-deta .c-item-vert>div, .c-proy-detaimg .c-detaimg
	height auto
	overflow initial
.slick-slide
	outline none
.hover-proyectos
	.c-img-bgcover
		height 450px
		-webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
		transition:         all 600ms cubic-bezier(0.23, 1, 0.32, 1);
	.c-img-bgcover.rep 
		width 39%
	.c-img-bgcover.this
		width 59%
.unslider
	position relative
.unslider-nav
	display block
	text-align center
	position absolute
	width 100%
	bottom 3em
	z-index 999
	ol
		display inline-block 
		li 
			float: left;
			font-size: 0;
			position: relative;
			height: 12px;
			width: 12px;
			border: 1px solid #fff;
			margin: 5px;
			border-radius: 50%;
			overflow: hidden;
			cursor: pointer;
			background-color: #333
		li.unslider-active:after
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			margin: 0;
			background-color: #0f9ec7;
			border-radius: 50%;
			left: 0;
			top: 0;
header
	.container
		max-width 900px
		font-size .85em
		a
			font-weight 900
			line-height: 1.2em
	.c-bg-blackb1
		padding: .2em;
		.list-inline.pull-left 
			line-height 1em
			li 
				margin-right 1em
			a 
				font-size 1.3em
				padding .5em 0 .35em
		.list-inline.pull-right
			a
				line-height 1.3em
				padding .8em 0 .2em
				strong
					font-size 1.4em
	#navbar-ex-collapse
		float right !important
		width 75%
	.c-bg-blackb1 a 
		font-weight 100
	.c-header ul
		height 90px
		position relative
		display: table;
		text-align right
	.c-header .c-menu li,.c-header .c-menu a
		height: 90px;
	.c-header .c-menu a
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding 0 1.3em
		transition-duration: .3s;
	.c-header .c-menu a br 
		display none
	.c-header .c-menu li
		max-width 100px
.c-elastic
	max-width 1130px
	line-height 1em
	.container
		max-width 1130px
		.c-img-bgcover
			height 450px
	.c-coverslide .c-box-text, .c-top-slide .c-box-text
		left 15%
	.c-h3-4, .c-h2
		text-shadow 1px 0px 0px rgba(0, 0, 0, 0.75);
	.c-h2
		font-size 1.6em
	.c-h3-4
		font-size 1.15em
		font-weight 100
		line-height 1.4em
	a.c-btn-skfosc-white
		transition-duration 0.35s
	.carousel-indicators li
		margin .3em !important
	.c-mbot-sm
		margin-bottom 1.5em
.c-iblock-container 
	.c-slide40 .btn, .c-slide60 .btn
		width 230px
		line-height 1.3em
		padding .55em 0
	span.c-h4
		font-size 1.4em
.c-suscribe
	line-height: 1.35em;
	.wpcf7
		position relative
		height 35px
	.wpcf7-validation-errors, .wpcf7-not-valid-tip
		display none !important
	input.wpcf7-not-valid
		background-color: #f9bcbc;
	.wpcf7-mail-sent-ok
		position absolute
		z-index 999
		top 3px
		left 0
		width 100%
		height 100%
		margin-top 0
		background-color: #20201f
		line-height 1.55em
		
	.form-group
		width 250px
		vertical-align top
		position relative
		input
			padding: .3em .8em;
			height: auto;
			margin-top 2px
			outline none
	.c-titi-sem
		font-style italic
		font-size: 15px;
		padding: 4px 20px;
		margin-top: 5px;
	.c-lato-lig
		font-size 1.5em
		line-height 1.4em
		vertical-align top 
		display inline-block
.invierte
	
	.c-bot-slide
		height 340px
	.c-h2
		font-size: 2em;
	.c-bot-slide .c-box-text
		line-height 2.5em
		width 290px
		padding-top: 3.5em
	.c-mver-xs.c-lato-lig
		line-height 1.6em
	.c-btn-sklight-white
		font-size 1.2em
		line-height 1.1em
		padding .35em 2.5em
		span
			font-size 1em
.slider
	.carousel-control
		opacity: 0 !important
.news
	h2 
		font-size 3.2em
		margin-top 0
		margin-bottom: .6em;
	.container
		max-width 900px
		.row
			margin 0 -9px
		.c-mbot-sm-noti, .c-mbot-sm
			padding 0 9px
		.c-mbot-sm
			height 500px
		.c-bor-gray
			font-size .85em
			padding .35em .85em
			transition-duration 0.5s
		.c-bor-gray:hover
			border-color #000
			color #000
		.c-noti-text
			text-align justify
			h4 
				text-align left
				line-height 1.3em
			p 
				font-size .85em
				line-height 1.5em
	.c-mbot-sm-noti
		height 500px
footer
	font-size .85em
	text-align justify
	.container
		max-width 900px
		li
			padding 0 0
			a 
				margin-bottom .7em
				display block
		.c-foot-invierte
			padding 0
			display block
			width 100%
			padding 1.3em 1.7em 1em
		.btn-block
			padding .6em .5em
			line-height 1.2em
		.c-text-justify
			padding-right 1.5em
		.c-mbot-md
			margin-bottom 3em
	.c-foot 
		font-size 1.3em
	.c-foot-invierte
		max-width 250px
		margin 0 auto
		display block
.banner
	.c-box-text
		font-size 1.2em
		line-height 2em
		width 320px
.project 
	margin-bottom .75em
	.container
		max-width 980px
		.row
			margin 0 -5px 
			.col-md-12
				padding 0 5px
	.hover
		position absolute
		opacity a
		transition-duration .5s
		z-index 99
		width 100%
		height 100%
	.view-project
		overflow hidden
		position relative
		.c-infoproy .c-features .c-iblock
			font-size: 1.2rem;
			line-height 1.5rem
		.text-left, .hover
			background-repeat: no-repeat
			background-position: 0% 50%
			background-size: 64%
		.c-infoproy
			font-size .8em
			padding-left: 3em;
			padding-right: 3em;
			text-align justify
			width 330px
			float right 
			background-color: #f4f4f4
		.hover
			background-size: cover
			height 100%
			.c-proyslide-img
				height 100%
		.btn
			transition-duration 0.5s
		.btn:hover
			background-color: #000
			color #fff
	.view-project:hover .hover
		opacity 0
		z-index: 0
.single-proyecto
	.container
		max-width 960px
	.c-titi-sem
		font-weight 100
	.c-detaimg
		padding-right 0
	article
		font-size .9em
		line-height 1.8em
		text-align justify
	.thumb .slick-slide img
		height 60px
		width 80px
		display inline-block
	.thumb 
		.slick-slide
			margin-bottom .75em
			text-align right
			opacity .35
			cursor pointer
		.slick-slide.slick-current
			opacity 1
		figure
			width 100%
			display block
	.full .slick-slide img
		max-height: 350px
.departamentos
	.container 
		max-width 960px
	.map-title
		font-size 2.8em
		font-weight 100
	a.btn-solicitar
		font-weight 600
		font-size 1.35em
		padding .5em 1em
		transition-duration 0.3s
	a.btn-solicitar:hover
		background-color: #000
		color #fff
	.c-tipo-btns .c-iblock
		text-transform: uppercase;
		margin 0 .8em
	.c-tipo-box
		margin-top 2em
		position relative
		height 650px
	.c-tipo-btns a
		padding .8em 1.5em
		border-radius 4px
		transition-duration 0.3s
		letter-spacing 2px
		font-size 1em
	.c-tipo-btns a:hover
		color: #fff;
		background: #0f9ec7;
		
	.c-color-sklight
		text-transform: uppercase;
		font-weight 900
		font-size 2.8em
		letter-spacing: 1px
		margin-bottom 0
	.c-titi
		font-size 2em
	.c-proy-desc
		border-top 0
		article 
			border-top 1px solid #cacaca
			padding-top .5em
			margin-top .5em
			text-align justify
			line-height 1.6em
			ul 
				padding-left 1.5em
	.tab-pane
		height: 600px;
		width: 84%;
		position: absolute;
		left: 0;
		top: 2em;
		margin: 0 8%;
		z-index 9
	.tab-pane.active
		z-index 99
	.full 
		height 450px
		.slick-track, .slick-list
			height 100%
			width 100% !important
		.slick-slide
			position: absolute !important;
			left: 0 !important;
			top: 0 !important;
			width 100% !important
	.thumb 
		width 100%
		height 125px
		.slick-arrow
			position absolute
			top 35%
			border 0
			width 20px
			height 40px 
			background-position: 50% 50%
			background-repeat: no-repeat
			font-size 0
			z-index 999
			background-color: #fff
			outline none
		.slick-arrow.slick-prev
			background-image: url('../img/prev.png')
			left -40px
		.slick-arrow.slick-next
			background-image: url('../img/next.png')
			right -40px
		.slick-track, .slick-list
			height 100%
		.slick-slide
			width 100%
		.slick-slide
			margin-right 10px
			opacity .5
		.slick-slide.slick-current
			opacity 1
	.btn-contactar
		font-size: 1.7em;
		font-weight: 600;
		padding: .5em 1.3em;
		border-radius: 4px;
		margin-top: .35em;
		transition-duration 0.5s
	.btn-contactar:hover
		background-color: #000
		color #fff 
a.view-markers
	position relative
	color #333
a.view-markers:hover
	text-decoration none !important
a.view-markers.active:after, a.view-markers:hover:after
	content: "";
	position: absolute;
	width: 10px;
	height: 9px;
	background-color: #333;
	border-radius: 50%;
	top: 8px;
	left: 0px;
	
.other
	.c-proy-text 
		text-align justify
		a 
			line-height 1em
			display block
			font-size: 2.2em;
		.c-h4
			font-size 1.1em
		p 
			font-size .85em
	.container
		max-width 960px
		.row
			margin 0 -7px 
		.c-mbot-sm
			padding 0 7px
	.c-proy-otro
		overflow hidden
		.c-feat-full
			font-size .85em
			padding .8em .8em
	.c-h2
		font-size 2.7em
		margin-bottom 1.2em
.invierte
	.container h1.c-h2
		letter-spacing 3px
		color #333
	article
		display block 
		margin 2em auto  2.2em
		max-width 450px
	.container
		max-width 690px
		.c-h2
			color #fff
	.row 
		margin 0 -5px 
		margin-bottom 15px
	.col-sm-6, .col-sm-12
		padding 0 5px
	.form-group
		margin-bottom 9px
		button
			border-radius 4px
			font-size .85em
			letter-spacing 2px
			transition-duration 0.3s
		button:hover
			background-color: #FFF
			color #000
	.invierte-form 
		margin-bottom 1em
		.wpcf7 
			padding: 1.5em 2.8em;
.single-news
	.container
		max-width 960px
	.c-notipo1 figure
		height 280px
	.c-notihome
		height 450px 
	.c-notipo2 .c-noti-text
		padding-top 0 
		position: absolute;
		bottom: 0;
		left: 0;
#solicitar
	overflow hidden
.c-desc
	ul 
		padding-left 1.5em
header .c-header .c-menu li.current-menu-item a
	background-color: #202020
	color: white
	
@media (min-width 993px)
	.only-desktop
		display block 
	.only-mobile
		display none
@media (max-width 992px)
	footer
		text-align center
	.departamentos .tab-pane
		font-size .85em
		height: 470px;
		
	.departamentos .full
		height 350px
	.departamentos .c-tipo-box
		height: 800px;
	.departamentos .c-color-sklight
		font-size 2em
	.departamentos .c-titi
		font-size 1.5em
	.only-desktop
		display none
	.only-mobile
		display block
	.departamentos .tab-pane .right-mobile
		float right !important
	.departamentos .tab-pane 
		.right-mobile
			width 80%
		.box-thumb
			 width 20%
	.departamentos .tab-pane
		height 
	.departamentos .thumb
		height auto
	.departamentos .thumb .slick-arrow
		display none !important
	.departamentos .full .slick-slide, .departamentos .full figure, .departamentos .full img
		height 100%
		display block 
	.departamentos .full img
		width auto
		margin 0 auto
	.departamentos .only-mobile
		margin-top 3em
	.departamentos .thumb .slick-slide img
		width 80px
		height 80px
	.departamentos .thumb .slick-slide
		margin 0 0 10px
	.navbar-static-top
		overflow hidden
	.c-suscribe .form-group
		width 200px
@media (max-width 769px)
	.navbar-toggle
		display block
	#menu-menu-principal
		display none
	header #navbar-ex-collapse
		float: none !important;
		width: 100%;
		margin 0
		padding 0
	header .c-header ul, header .c-header .c-menu li,header .c-header .c-menu a
		max-width 100%
		width: 100%
		margin  0
		display block
		height auto
		text-align left
		width 100%
	header .c-header .c-menu a
		padding .5em 0
		font-size 1.2em
		padding-left 15px
		
		border-bottom 1px solid rgba(0, 0, 0, .75)
	.banner
		.c-elastic .c-coverslide .c-box-text, .c-elastic .c-top-slide .c-box-text
			left 0
			text-align left
			padding-left 2em
	.project .view-project .c-infoproy
		width 100%
	.c-proyslide-img .c-mask-text
		bottom 35% 
	.departamentos .c-tipo-btns a
		font-size .7em
		margin-bottom 2em
	.c-suscribe span
		padding: .3em .5em;
	.c-suscribe .c-lato-lig
		font-size 1.4em
	.c-elastic .c-mbot-sm
		padding .35em 0 1.5em
	.hover-proyectos .c-img-bgcover.rep 
		width 100%
	.hover-proyectos .c-img-bgcover.this
		width 100%
	.news h2
		font-size 2.2em
	.slider-box .item .c-box-text
		left 0
		width 100%
		
@media (max-width 580px)
	.single-proyecto .thumb .slick-slide img
		height 40px
		width auto
	.single-proyecto .full .slick-slide img
		max-height 250px
	.departamentos .thumb .slick-slide img
		width 40px
		height 40px
	.departamentos .full
		height 200px
	.departamentos .only-mobile
		font-size .85em
	.departamentos .c-tipo-box
		height: 600px;